body {
    font-family: Daytona;
    margin: 10px;
    padding: 10px;
    background: #000000;
    color: #000000;
    text-align: center;
}

header {
    background-color: #424242;
    color: #e50914;
    padding: 20px;
    font-size: 24px;
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    letter-spacing: 3px;
    text-align: center;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.car-card {
    background: #3a3a3a;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    width: 300px;
}

.car-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.car-card h2 {
    font-size: 22px;
    margin: 10px 0;
}

.car-card p {
    font-size: 16px;
    color: #ff0000;
}

  

@font-face {
    font-family: 'Daytona'; 
    src: url('fonts/daytona-regular.woff2') format('woff2'), 
         url('fonts/daytona-regular.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.car-title {
    font-family: Oswald;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff4400; 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    text-align: center;
}
